<div class="container">
  <app-server 
  (serverCreated)="onServerAdded($event)"
  (bluePrintCreated)="onBlueprintAdded($event)"></app-server>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-servers *ngFor="let serverElement of serverElements" [element]="serverElement"> <p>
        <strong *ngIf="serverElement.type === 'server'" style="color: red;">{{serverElement.content}}</strong>
        <em *ngIf="serverElement.type === 'blueprint'" style="color: blue;">{{serverElement.content}}</em>
    </p></app-servers>
    </div>
  </div>
  <hr>


  <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd"> Show Odd/Even Numbers </button>
  <hr>
  <ul class="list-group">
    <div *ngIf="onlyOdd">
      <li class="list-group-item" [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]= "{backgroundColor: odd % 2 !== 0 ? 'red': 'yellow' }"  *ngFor="let odd of oddNumbers">
        {{odd}}
      </li>
    </div>
    <div *ngIf="!onlyOdd">
      <li class="list-group-item" *ngFor="let even of evenNumbers">
        {{even}}
      </li>
    </div><br>
    <p appBasicDir>Write this with a basic directive</p>
    <p appBetterDir>Write this with a better directive</p>
  </ul>
  <h2>You have Pressed Keys {{counter}} times</h2>
  <button (click)="resetCounter()">Reset Counter</button>
</div>